/*  GENERAL  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
}

a:hover {
  padding: 3px;
  border: 2px solid white;
  border-radius: 10px;
}

.container {
  width: 70%;
  min-width: 600px;
  margin: 0 auto;
}

/*  UTILITIES  */
.flex-container {
  display: flex;
}

.strong {
  font-weight: bold;
}

.uppercase {
  text-transform: uppercase;
}

.new-price {
  color: red;
}

.line-through {
  text-decoration:line-through;
}

.green-bg {
  background-color: green;
}

.red-bg {
  background-color: red;
}

.w-50 {
  width: 50%;
}

.w-100 {
  width: 100%;
}

.px-1 {
  padding: 0 10px;
}

.px-2 {
  padding: 0 20px;
}

.px-3 {
  padding: 0 30px;
}

.py-1 {
  padding: 10px 0;
}

.py-2 {
  padding: 20px 0;
}

.py-3 {
  padding: 30px 0;
}

/*  HEADER  */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 999; */
  height: 80px;
  background-color: #FF6900;
  box-shadow: 0 0 10px rgba(0, 0, 0, .6);
}

header .customer-target {
  justify-content: flex-start;
  align-items: center;
  width: 20%;
}

header li {
  margin: 0 10px;
}

header .logo {
  justify-content: center;
  width: 60%;
}

header .logo img {
  max-width: 200px;
  max-height: 50px;
}

header .menu {
  justify-content: flex-end;
  align-items: center;
  width: 20%;
}

/*  MAIN  */
main {
  margin-top: 80px;
}

main .container {
  background-color: wheat;
  align-items: center;
  justify-content: center;
}

main .row {
  justify-content: center;
  flex-wrap: wrap;
}

main .product {
  position: relative;
  display: inline-block;
  min-width: 300px;
  max-width: 400px;
  margin-bottom: 20px;
  cursor: pointer;
}

main .favorite {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 0.5rem 1rem;
  background-color: white;
  font-size: 2rem;
}

main .discount-info {
  position: absolute;
  left: 20px;
  bottom: 120px;
}

main .discount-info > span {
  padding: 0.5rem;
  font-size: 0.8rem;
  color: white;
}
